form.signup,
form.login {
  margin-top: 50px;
}

body {
  flex-wrap: wrap;
  background-color: rgba(23, 26, 207, 0.911);
  padding-top: 10px;
  background-image: url("../images/Techfix.gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
}

nav.navbar {
  z-index: 2; 
  overflow: hidden;
  position: fixed;
  width: 100%;
  border-radius: 50px 50px 50px 50px;
  border: 5px solid orangered;
  background-color: #f8ef42;
  background-image: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
}

.navbar-header {
  display: block;
  text-align: center;
}

.navbar-footer {
  display: block;
  float: right;
}

div.col-md-6 {
  margin-top: 50px;
  border: 10px solid black;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  -webkit-box-shadow: 44px 36px 77px 21px rgba(0,0,0,0.75);
  -moz-box-shadow: 44px 36px 77px 21px rgba(0,0,0,0.75);
  box-shadow: 44px 36px 77px 21px rgba(0,0,0,0.75);
}

.logout {
  font-size: 30px;
  font-weight: bold;
}

h1 {
  position: relative;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 0 auto;
  right: 0px;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  background-color: lightgreen;
  font-size: 90px;
  letter-spacing: 0.13em;
  border: 5px solid red;
  background-color: #f907fc;
  background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
  font-weight: bold;
  color: black;
}
.sidenav {
  height: 100%; 
  width: 110px; 
  position: fixed; 
  z-index: 1; 
  top: 72px; 
  left: -3px;
  background-color: rgba(23, 26, 207, 0.911);
  overflow-x: hidden; 
  padding-top: 02px;
  -webkit-box-shadow: 51px 12px 131px 18px rgba(66,14,66,1);
  -moz-box-shadow: 51px 12px 131px 18px rgba(66,14,66,1);
  box-shadow: 51px 12px 131px 18px rgba(66,14,66,1);
}

button.btn  {
  margin-right: 10px;
  vertical-align: -0.5mm;
  color: black;
  width: 38vw;
  border: 4px solid lime;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
  border-radius: 50px 50px 50px 50px;
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
  -webkit-box-shadow: 44px 36px 77px 21px rgba(0,0,0,0.75);
  -moz-box-shadow: 44px 36px 77px 21px rgba(0,0,0,0.75);
  box-shadow: 44px 36px 77px 21px rgba(0,0,0,0.75);
}

button.btn.btn-secondary {
  vertical-align: -0.3mm;
  color: black;
  border: 4px solid black;
  width: 15vw;
  font-size: 18px;
  letter-spacing: 0.0em;
  font-weight: bold;
  border-radius: 50px 50px 50px 50px;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  -webkit-box-shadow: inset -16px -12px 81px -49px rgba(219,76,190,1);
  -moz-box-shadow: inset -16px -12px 81px -49px rgba(219,76,190,1);
  box-shadow: inset -16px -12px 81px -49px rgba(219,76,190,1);
}

.logout {
  font-size: 30px;
  font-weight: bold;
  padding-right: -10px;
}

.card-group {
  margin-top: 150px;
  margin-left: 150px;
  width: 250px;
  border: 5px solid black;
  background-color: skyblue;
  margin-bottom: 20px;
}